.parallax{
    background: url('parallax4.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}

main{
    display: flex;
    flex-wrap: wrap; /*passe en dessous quand manque de place*/
    justify-content: center; 
    align-items: flex-start;
    position: relative;
    width: 100%;
}

h2{
    text-decoration: underline;
    color: #ff8400;
}

.faq-contenu{
    width: 90%;
}

.zoneQR{
    letter-spacing: 1px;
    width: 100%;
}

.questions{
    font-size: 30px;
    text-align: justify;
    line-height: 170%;
    border: 5px solid white;
    border-radius: 1.5em;
    background-color: black;
    margin-bottom: 2%;
    width: 100%;
}

.reponses{
    font-size: 25px;
    text-align: justify;
    line-height: 120%;
    border: 5px solid white;
    border-radius: 1.5em;
    background-color: black;
    width: 100%;
}

.questions h2{
    margin-bottom: 3%;
    margin-top: 2.7%;
    margin-left: 2%;
}

.questions a:hover{
    color: white;
}

.reponses h2{
    margin-left: 2%;
    margin-top: 2.7%;
}

ul{
    list-style: none;
}

.zoneQR span{
    font-size: 50px;
    margin-right: 1.5%;
}

.reponses li{
    margin-bottom: 10% ;
    margin-top: 4%;
    padding-right: 40px;
}

.questions li{
    margin-bottom: 2%;
}

.zoneQR a{
    color: #ff8400;
}

.retour-haut-faq{
    position: fixed;
    bottom: 20px;
    right: -552px;
}

.retour-haut-faq img{
    width: 8%;
    height: 10%;
}

